html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-head {
  max-width: 50em;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  padding: 1.6rem;
  margin: 0;
}

h2 {
  display: inline;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, .5);
}

p {
  font-style: italic;
  font-size: 2rem;
  padding-top: 1em;
  margin: 0;
}
