html {
  box-sizing: border-box;
  font-family: Open Sans;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  font-size: 4rem;
  position: absolute;
}
